.dcx-dropzone {
  margin: .5em;
  background: #f5f5f2;
  border: 3px dashed hsla(0, 0%, 42%, 0.65);
  border-radius: 5px;
}

.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}

.box__input {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.dcx-dropzone.is-uploading .box__input {
  display: none;
}

.dcx-dropzone.is-uploading .box__uploading {
  display: block;
}

.dcx-dropzone .progress {
  margin-bottom: 20px;
}
